.column-item {
    position: relative;
    min-height: 100vh;
}

.column-item-content {
    padding-top: 100px;
    padding-bottom: 50px;
}

.column-item-content h1 {
    font-size: 100px;
    font-weight: 700;
    margin-top: 75px;
}

.column-item-img img {
    width: 100%;
    height: 100%;
}



@media screen and (max-width:1350px) {
    .column-item-content h1 {
        font-size: 80px;
        font-weight: 700;
        margin-top: 75px;
    }

}

@media screen and (max-width:1100px) {
    .column-item-content h1 {
        font-size: 65px;
        font-weight: 700;
        margin-top: 75px;
    }

}

@media screen and (max-width:991px) {
    .column-item {
        min-height: unset;
    }

    .column-item-content {
        padding: 50px;
    }

    .column-item-content h1 {
        font-size: 55px;
        font-weight: 700;
        margin-top: 75px;
    }
}

@media screen and (max-width:576px) {

    .column-item-content {
        padding: 50px 25px;
    }

    .column-item-content h1 {
        font-size: 45px;
    }
}


.foodServeSection{
    min-height: 100vh;
    width: 100%;
    background-image: url("../images/exploreSACCFood.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.foodServeContent{
    position: absolute;
    right: 4rem;
    top: 120px;
    font-size: 1.3rem;
}

.foodServeContent p:nth-child(1){
    font-size: 1.9rem;
    font-weight: 700;
}

@media screen and (max-width:991px) {
    .foodServeSection {
        min-height: unset;
        width: 100%;
        padding: 70px;
    }
    .foodServeContent {
        position: static;
    }

}


@media screen and (max-width:576px) {
    .foodServeSection {
        padding: 70px 25px;
    }
}    