/* contact-section */
.contact-section{
    min-height: 100vh;
    padding-top: 100px ;
    padding-bottom: 100px;
}

.contactHead{
    font-size: 120px;
}

.contact-section .contactBtn{
    width: 250px;
    border-radius: 50%;
    height: 250px;
    border: none;
    color: #5A92DB;
    font-size: 30px;
    font-weight: 700;
    margin-top: 85px;
}

.contact-section .contactBtn:hover{
    background: #A6D178;
    color: #fff;
}

.sectionBlue{
    padding-bottom: 50px;
}


/* expertiseSection */
.expertiseSection img{
    width: 100%;
    height: 100%;
}


.expertiseSection button{
    width: 150px;
    border-radius: 50%;
    height: 150px;
    border: none;
    color: #5A92DB;
    font-size: 24px;
    font-weight: 400;
    margin-top: 40px;
    margin-bottom: 40px;

}

.expertiseSection button:active{
    background: #A6D178;
    color: #fff;
}



.expertiseSection{
    min-height: 100vh;
}

.expertiseSectionPadding{
    padding-top: 100px;
    padding-bottom: 100px;
    height: 100%;
}

.expertiseSection .mainImg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: -1;
}
.showOnHover{
    opacity: 0;
}
.expertiseSection .section-head{
    /* margin-top: 32px; */
}

.expertiseInner:hover .expertiseSectionPadding{
    background: #A898AF;
}
.expertiseInner:hover .showOnHover{
    opacity: 1;
}

@media screen and (max-width:991px) {
    .expertiseSection {
            min-height: unset;
        }
    .expertiseSectionPadding {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .contact-section {
        min-height: unset;
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .contactHead {
        font-size: 5rem;
    }

    .contact-section .contactBtn {
        width: 250px;
        border-radius: 50%;
        height: 250px;
        border: none;
        color: #5A92DB;
        font-size: 30px;
        font-weight: 700;
        margin-top: 85px;
    }

    .sectionBlue .section-head {
        font-size: 3rem;
    }
}


@media screen and (max-width:576px) {

    .contact-section {
        min-height: unset;
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .contactHead {
        font-size: 3rem;
    }

    .contact-section .contactBtn {
        width: 200px;
        height: 200px;
        font-size: 25px;
        margin-top: 55px;
    }
    .sectionBlue .section-head {
        font-size: 2rem;
    }

}