@import url(https://db.onlinewebfonts.com/c/c5f6f88904a2f008e281beb54726bc96?family=RM+Neue+Regular);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.section-padding-x{
    padding-left: 78px;
    padding-right: 78px;
}

.headerTop{
    padding: 46px 28px 36px 78px;
}

.mobileMenuBar svg,.closeNavBar svg{
    fill: #5A92DB;
    cursor: pointer;
}


body{
    background-color: aliceblue;
    font-family: "RM Neue Regular";
}

.primaryColor{
    color: #5A92DB;
}

a{
    text-decoration: none;
    color: inherit;
}

.page{
    max-width: 1440px;
    margin: auto;
    position: relative;
    height: 100vh;
}

header .logo{
    width: 297.009px;
}

.languageDropdown{
    color: #5A92DB;
    border: none;
    font-size: 18px;
    /* font-weight: 400; */
    padding-right: 6px;
    background: transparent;
        
}

header input{
    border-radius: 48px;
    border: 2px solid #5A92DB;
    padding: 12px 40px 10px 25px;
    width: 250px;
    color: #5A92DB;
}

header input::placeholder{
    color:#E0E0E0;
}

header .inputBox img{
    position: absolute;
    top: 12px;
    right:18px;
}
nav *{
    color: #fff;
}
header nav{
    background: #5A92DB;
    padding: 18px 78px 15px;
    justify-content: space-between;
}

nav a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}

a:hover{
    color: unset;
}

nav .dropdown-menu li a,nav .dropdown-menu li{
    color: #5A92DB;
    font-size: 16px;
    font-weight: unset;
}

.dropdown-menu .dropdown-submenu {
    left: 98%;
    top: -10px;
}

footer{
    padding: 35px 110px 42px 78px;
    width: 100%;
}

.dropdown-toggle::after{
    display: none;
}

footer a{
    color: #5A92DB;
    font-size: 19px;
    font-weight: 400;
}

footer .logo{
    width: 178px;
}

footer .social-icons{
    position: relative;
    left: -10px;
}

footer .social-icons img{
    height: 20px;
}

footer .footer-links p{
    color: #0C2032;
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 12px;
}
.dropdown:hover > .dropdown-menu {
    display: block;
}

/* Hero section */
.carousel-indicators [data-bs-target] {
    height: 17px;
    width: 17px;
    border-radius: 50%;
    background-color: #fff !important;
}

.carousel-indicators button{
    border: 2px solid white !important;
}
    

.carousel-indicators {
    position: absolute;
    left: unset;
    z-index: 2;
    display: flex;
    gap: 10px;
    justify-content: center;
    padding: 0;
    margin-right: 4.5rem;
    margin-bottom: 2rem;
    margin-left: 0%;
    list-style: none;
}

.carousel-indicators [data-bs-target]{
    /* opacity: 1; */
    background-color: rgba(255,255,255,0.4);
}

.section.blue{
    background:#003F53;
    color: #A6D178;
    font-size: 68px;
    font-weight: 700;
    min-height: 110vh;
    padding:  87px 78px ;
    position: relative;
}

.section.blue .linkButton{
    position: absolute;
    right: 81px;
    bottom: 66px;
}

.linkButton{
    font-size: 30px;
    font-weight: 700;
}

.linkButton img{
    width: 25px;
    height: 25px;
}

.linkButton a{
    text-decoration: underline;
}


/* Testimonials Section */
.testimonials{
    background: #BE8617;
    padding: 50px 78px 87px;
}

.testimonials h1{
    margin-bottom: 100px;
}

.testimonials p{
    font-size: 1.25rem;
}

.testimonials .profile{
    width: 230px;
    height: 230px;
    border-radius: 50%;
    background-color: white;
    flex-shrink: 0;
}

.testimonial-item{
    width: 48%;
}

.testimonial-name,.testimonial-client{
    font-size: 2.3rem;
    font-weight: 700;
}
.testimonial-client{
    font-weight: 400;
}

.section-head{
    font-size: 76px;
    font-weight: 700;
}


/* Sustainable section */

.sustainable{
    width: 100%;
    min-height: 100vh;
    position: relative;
    color: #fff;
    padding: 20px 78px;
}

.sustainable .mainImg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
}

/* Award and Partners section */
.awardPartners{
    padding-top: 120px;
    padding-bottom: 160px;
    background: #5A92DB;
}

.awardPartners img{
    max-width: 100%;
}


/* History section */
.history{
    background: #BE8617;
    min-height: 100vh;
    width: 100%;
    position: relative;
    padding-top: 97px;
    padding-bottom: 97px;
}

.history .mainImg{
    width: calc(100vh - 200px);
    height: calc(100vh - 200px);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.history .historyHead{
    font-size: 30px;
    font-weight: 700;
}

.history .linkButton {
    position: absolute;
    right: 81px;
    bottom: 66px;
}

@media screen and (max-width:1300px) {
    nav a{
        font-size: 16px;
    }

        .textRightSection {
            padding: 5rem 78px 3.5rem;
            background-color: #5A92DB;
            min-height: 100vh;
            font-size: 27px;
            font-weight: 700;
            position: relative;
        }
    
    
        .textRightSection img {
            position: absolute;
            left: 0;
            bottom: 0%;
            width: 30%;
        }
    
        .textRightSection .main-head {
            font-size: 90px;
            font-weight: 700;
            line-height: 120px;
        }
    
        .textRightSection .second-head {
            color: #A6D178;
            font-size: 40px;
            font-weight: 400;
        }


}

@media screen and (max-width:1150px) {
    header nav {
         
        padding: 18px 35px 15px;
        justify-content: space-between;
    }

    .headerTop {
        padding: 30px 35px;
    }
    .section-padding-x{
        padding-left: 35px;
        padding-right: 35px;
    }

    footer {
        padding: 35px 20px 42px;
    }
}

@media screen and (max-width:991px) {
    
    .section-padding-x {
            padding-left: 25px;
            padding-right: 25px;
    }

    header nav {
        background: #5A92DB;
        padding: 18px 25px 15px;
        justify-content: space-between;
        position: fixed;
        right: 0;
        top: 0;
        width: 300px;
        height: 100vh;
        z-index: 12;
        box-shadow: 0 0 4px 3px rgba(0, 0, 0, 0.3);
        padding-top: 50px;
        transform: translateX(100%);
        transition: all 0.5s;
    }

    .dropdown-menu .dropdown-submenu {
        left: 0%;
        top: -10px;
    }

    .showNav{
        transform: translateX(0px);
    }


    .closeNavBar{
        position: absolute;
        right: 20px;
        top: 20px;
        background-color: #fff;
        border-radius: 50%;
    }


    header nav ul{
        flex-direction: column;
        gap: 20px;
    }

    header input {
        padding: 8px 40px 6px 25px;
        width: 100%;
    }

    header .inputBox img {
        position: absolute;
        top: 12px;
        right: 18px;
        width: 18px;
    }

    .headerTop{
        padding: 30px 25px;
    }
    
    footer{
        padding: 35px 20px 42px;
    }

    .navbar>ul{
        flex-direction: column;
    }

    header .logo {
        width: 200px;
    }

    .sustainable{
        padding: 20px 25px;
            
    }
        
}


/* textRightSection */
.textRightSection{
    padding: 5rem 78px 3.5rem;
    background-color: #5A92DB;
    min-height: 100vh;
    font-size: 40px;
    font-weight: 700;
    position: relative;
}

.textRightSection .content{
    margin-top: 5rem;
}

.textRightSection img{
    position: absolute;
    left: 0;
    bottom: 0%;
}

.textRightSection .main-head{
    font-size: 120px;
    font-weight: 700;
    line-height: 120px;
}
.textRightSection .second-head{
    color: #A6D178;
    font-size: 76px;
    font-weight: 400;
}


@media screen and (max-width:1300px) {
    nav a {
        font-size: 16px;
    }

    .textRightSection {
        padding: 5rem 78px 3.5rem;
        background-color: #5A92DB;
        min-height: 100vh;
        font-size: 27px;
        font-weight: 700;
        position: relative;
    }


    .textRightSection img {
        position: absolute;
        left: 0;
        bottom: 0%;
        width: 30%;
    }

    .textRightSection .main-head {
        font-size: 90px;
        font-weight: 700;
        line-height: 120px;
    }

    .textRightSection .second-head {
        color: #A6D178;
        font-size: 40px;
        font-weight: 400;
    }


}





@media screen and (max-width:576px) {
    .headerTop {
        padding: 15px 25px;
    }
    .testimonials {
        background: #BE8617;
        padding: 50px 25px 87px;
    }

    .testimonials h1 {
        margin-bottom: 50px;
    }

    .testimonials p {
        font-size: 1rem;
    }

    .testimonials .profile {
        width: 150px;
        height: 150px;
    }

    .testimonial-item {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .testimonial-name,
    .testimonial-client {
        font-size: 2.3rem;
        font-weight: 700;
    }

    .testimonial-client {
        font-weight: 400;
    }

    .section-head {
        font-size: 3rem;
        font-weight: 700;
    }

    .section.blue {
        font-size: 40px;
        padding: 87px 40px;
    }

    .section.blue .linkButton {
        font-size: 30px;
        font-weight: 700;
        position: static;
        margin-top: 50px;
        text-align: end;
    }

    header .logo {
        width: 150px;
    }

    .textRightSection {
        padding: 5rem 25px 3.5rem;
        background-color: #5A92DB;
        min-height: unset;
        font-size: 1.2rem;
        font-weight: 700;
        position: relative;
    }




    .textRightSection .main-head {
        font-size: 3rem;
        font-weight: 700;
        line-height: unset;
    }

    .textRightSection .second-head {
        color: #A6D178;
        font-size: 30px;
        font-weight: 400;
    }
    .textRightSection .content {
        margin-top: 2.5rem;
    }


    .awardPartners {
        padding-top: 70px;
        padding-bottom: 90px;
    }

}