@import url(https://db.onlinewebfonts.com/c/c5f6f88904a2f008e281beb54726bc96?family=RM+Neue+Regular);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --greenColor:#A6D178;
    --blueColor:#5A92DB;
}

.primaryGreenText{
    color: var(--greenColor);
}
.primaryGreenBg{
    background: var(--greenColor) !important;
}

.primaryBlueBg{
    background: var(--blueColor) ;
}

.section-padding-x{
    padding-left: 78px;
    padding-right: 78px;
}

.headerTop{
    padding: 46px 28px 36px 78px;
}

.mobileMenuBar svg,.closeNavBar svg{
    fill: #5A92DB;
    cursor: pointer;
}


body{
    background-color: aliceblue;
    font-family: "RM Neue Regular";
    font-size: 20px;
}

.primaryColor{
    color: #5A92DB;
}

a{
    text-decoration: none;
    color: inherit;
}

header .logo{
    width: 297.009px;
}

.languageDropdown{
    color: #5A92DB;
    border: none;
    font-size: 18px;
    /* font-weight: 400; */
    padding-right: 6px;
    background: transparent;
        
}

header input{
    border-radius: 48px;
    border: 2px solid #5A92DB;
    padding: 12px 40px 10px 25px;
    width: 250px;
    color: #5A92DB;
}

header input::placeholder{
    color:#E0E0E0;
}

header .inputBox img{
    position: absolute;
    top: 12px;
    right:18px;
}
nav *{
    color: #fff;
}
header nav{
    background: #5A92DB;
    padding: 18px 78px 15px;
    justify-content: space-between;
}

nav a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}

a:hover{
    color: unset;
}


nav .dropdown-menu{
    background-color: var(--blueColor);
    padding: 0.6rem 0;
}

.dropdown-menu .dropdown-item {
    padding: 0.35rem 1.5rem;
}    

nav .dropdown-menu li a,nav .dropdown-menu li{
    color: #fff;
    font-size: 18px;
    font-weight: unset;
}

.dropdown-menu .dropdown-submenu {
    left: 98%;
    top: -10px;
}

footer{
    padding: 35px 110px 42px 78px;
    width: 100%;
}

.dropdown-toggle::after{
    display: none;
}

footer a{
    color: #5A92DB;
    font-size: 19px;
    font-weight: 400;
}

footer .logo{
    width: 178px;
}

footer .social-icons{
    position: relative;
    left: -10px;
}

footer .social-icons img{
    height: 20px;
}

footer .footer-links p{
    color: #0C2032;
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 12px;
}
.dropdown:hover > .dropdown-menu {
    display: block;
}


/* Hero Section */

.heroSection .swiper-pagination{
    left: unset !important;
    width: unset !important;
    bottom: 30px !important;
    right: 80px !important;
}

.swiper-pagination-bullet{
    border: 3px solid white;
    width: 18px;
    height: 18px;
    margin-left: 6px !important;
    margin-right: 6px !important;
}

 .swiper-pagination-bullet-active{
    background-color: #fff !important;
}

.sectionBlue{
    background:#003F53;
    color: #A6D178;
    font-size: 68px;
    font-weight: 700;
    min-height: 110vh;
    padding:  87px 78px ;
    position: relative;
}

.sectionBlue .linkButton{
    position: absolute;
    right: 81px;
    bottom: 66px;
}

.linkButton{
    font-size: 30px;
    font-weight: 700;
}

.linkButton img{
    width: 25px;
    height: 25px;
}

.linkButton a{
    text-decoration: underline;
}


/* Testimonials Section */
.testimonials{
    background: #BE8617;
    padding: 65px 78px 113px;
}

.testimonials h1{
    margin-bottom: 100px;
}

.testimonials .profile{
    width: 230px;
    height: 230px;
    border-radius: 50%;
    background-color: white;
    flex-shrink: 0;
    overflow: hidden;
}

.testimonials .profile img {
    width: 230px;
    height: 230px;
}

.testimonial-item{
    width: 48%;
    padding: 0%;
}

.testimonials .testimonial-name,.testimonials .testimonial-client{
    font-size: 2.3rem;
    font-weight: 700;
}
.testimonials .testimonial-client{
    font-weight: 400;
}

.section-head{
    font-size: 76px;
    font-weight: 700;
}


/* Sustainable section */

.sustainable{
    width: 100%;
    min-height: 100vh;
    position: relative;
    color: #fff;
    padding: 20px 78px;
}

.sustainable .mainImg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
}

/* Award and Partners section */
.awardPartners{
    padding-top: 120px;
    padding-bottom: 160px;
    background: #5A92DB;
}

.awardPartners img{
    max-width: 100%;
}


/* History section */
.history{
    background: #BE8617;
    min-height: 100vh;
    width: 100%;
    position: relative;
    padding-top: 97px;
    padding-bottom: 97px;
}

.history .mainImg{
    width: calc(100vh - 200px);
    height: calc(100vh - 200px);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}



.history .linkButton {
    position: absolute;
    right: 81px;
    bottom: 66px;
}

.sectionHeadSmall {
    font-size: 30px;
    font-weight: 700;
}

/* Our Services */

.ourServices img{
    width: 100%;
    height: 100%;
}

.serviceLeft{
    background: #003F53;
    padding-top: 140px;
    padding-bottom: 140px;
}

.ourServices .customSlideDots{
    margin-top: 60px;
    display: flex;
    gap: 25px;
}

.ourServices .activeServiceTab{
    color: var(--greenColor);
    text-decoration: underline;
}

.ourServices .serviceTabs span {
    cursor: pointer;
}

.ourServices .customSlideDots div{
    width: 29px;
    height: 29px;
    border-radius: 50%;
    border: 4px solid #fff;
    cursor: pointer;
}


.ourServices .customSlideDots .activeDot{
    background: #fff;
}

.ourServices .serviceImages img{
    display: none;
    object-fit: cover;
}

.ourServices .serviceImages .activeServiceImage{
    display: initial;
}

/* News section */
.NewsRight{
    background: var(--greenColor);
    padding-top: 86px;
    padding-bottom: 86px;
    font-size: 20px;
}

.NewsRight .titleText{
    font-size: 46px;
    font-weight: 700;
}

.newLeft img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.newsSection .swiper-pagination {
    left: unset !important;
    top: unset;
    width: unset !important;
    bottom: 100px !important;
    right: 80px !important;
}


/* textRightSection */
.textRightSection {
    padding: 6.4rem 78px;
    background-color: #5A92DB;
    min-height: 100vh;
    font-size: 40px;
    font-weight: 700;
    position: relative;
}

.textRightSection .content {
    margin-top: 3.8rem;
    line-height: normal;
}

.textRightSection img {
    position: absolute;
    left: 0;
    bottom: 0%;
}

.textRightSection .insideImage {
    left: 1.4rem;
}

.textRightSection .main-head {
    font-size: 120px;
    font-weight: 700;
    line-height: 120px;
}

.textRightSection .second-head {
    color: #A6D178;
    font-size: 76px;
    font-weight: 400;
}

@media screen and (max-width:1300px) {
    nav a {
        font-size: 16px;
    }

    .textRightSection {
        padding: 5rem 78px 3.5rem;
        background-color: #5A92DB;
        min-height: 100vh;
        font-size: 27px;
        font-weight: 700;
        position: relative;
    }

    .textRightSection img {
        position: absolute;
        left: 0;
        bottom: 0%;
        width: 30%;
    }

    .textRightSection .main-head {
        font-size: 90px;
        font-weight: 700;
        line-height: 120px;
    }

    .textRightSection .second-head {
        color: #A6D178;
        font-size: 40px;
        font-weight: 400;
    }

    .testimonials .profile {
        width: 160px;
        height: 160px;
    }

    .testimonials .profile img {
        width: 160px;
        height: 160px;
    }


}


@media screen and (max-width:1150px) {
    header nav {
        padding: 18px 35px 15px;
        justify-content: space-between;
    }

    .headerTop {
        padding: 30px 35px;
    }
    .section-padding-x{
        padding-left: 35px;
        padding-right: 35px;
    }

    .serviceLeft{
        padding-left: 50px;
    }
    .ourServices .swiper-pagination {
        right: unset !important;
        width: unset !important;
        bottom: 100px !important;
        left: 50px !important;
    }

    footer {
        padding: 35px 20px 42px;
    }

    .ourServices .section-head{
        font-size: 3rem;
    }
}

@media screen and (max-width:991px) {
    
    .section-padding-x {
            padding-left: 25px;
            padding-right: 25px;
    }

    header nav {
        background: #5A92DB;
        padding: 18px 25px 15px;
        justify-content: space-between;
        position: fixed;
        right: 0;
        top: 0;
        width: 325px;
        max-width: 100%;
        height: 100vh;
        z-index: 12;
        box-shadow: 0 0 4px 3px rgba(0, 0, 0, 0.3);
        padding-top: 50px;
        transform: translateX(100%);
        transition: all 0.5s;
    }


    nav .dropdown-menu {
        background-color: #fff;
        padding: 0.5rem 0;
    }

    .dropdown-menu .dropdown-item {
        padding: 0.25rem 1rem;
    }

    nav .dropdown-menu li a,
    nav .dropdown-menu li {
        color: var(--blueColor);
        font-size: 16px;
    }

    .dropdown-menu .dropdown-submenu {
        left: 0%;
        top: 32px;
    }

    .showNav{
        transform: translateX(0px);
    }

    .closeNavBar{
        position: absolute;
        right: 20px;
        top: 20px;
        background-color: #fff;
        border-radius: 50%;
    }


    header nav ul{
        flex-direction: column;
        gap: 20px;
    }

    header input {
        padding: 8px 40px 6px 25px;
        width: 100%;
    }

    header .inputBox img {
        position: absolute;
        top: 12px;
        right: 18px;
        width: 18px;
    }

    .headerTop{
        padding: 17px 25px;
    }
    
    footer{
        padding: 35px 20px 42px;
    }

    .navbar>ul{
        flex-direction: column;
    }

    header .logo {
        width: 200px;
    }

    .sustainable{
        padding: 20px 25px;
            
    }

    .testimonial-item {
        width: 100%;
        justify-content: center;
    }

    .testimonials .profile {
        width: 180px;
        height: 180px;
    }

    .testimonials .profile img {
        width: 180px;
        height: 180px;
    }

    .testimonials h1 {
        margin-bottom: 50px;
    }

    .section-head {
        font-size: 4rem;
        font-weight: 700;
    }

    .sectionBlue{
        min-height: unset;
        font-size: 45px;
    }

    .linkButton{
        font-size: 24px;
        font-weight: 700;
    }

    

    .history .mainImg {
        width: 350px;
        height: 350px;
        border-radius: 50%;
        position: static;
        top: 50%;
        left: 50%;
        transform: translate(0,0);
    }

    .history .linkButton,.sectionBlue .linkButton{
        /* font-size: 24px;
        font-weight: 700; */
        position: static;
        margin-top: 50px;
        text-align: end;
    }

    .history .section-head{
        margin-bottom: 50px;
    }

    .sectionHeadSmall {
        font-size: 20px;
        font-weight: 700;
    }
    .serviceLeft {
        padding-left: 50px;
    }

    
        .textRightSection .main-head {
            font-size: 70px;
            font-weight: 700;
            line-height: normal;
        }
    
        
}




@media screen and (max-width:576px) {
    body{
        font-size: 1rem;
    }
    .headerTop {
        padding: 16px 25px;
    }
    .testimonials {
        background: #BE8617;
        padding: 60px 25px;
    }

    /* .testimonials p {
        font-size: 1rem;
    } */

    .testimonials .profile {
        width: 150px;
        height: 150px;
    }
    .testimonials .profile img {
        width: 150px;
        height: 150px;
    }

    .testimonial-item {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .testimonials .testimonial-name,
    .testimonials .testimonial-client {
        font-size: 1.8rem;
        font-weight: 700;
    }

    .testimonials .testimonial-client {
        font-weight: 400;
    }

    .section-head {
        font-size: 2.5rem;
        font-weight: 700;
    }

    .sectionBlue {
        font-size: 40px;
        padding: 60px 40px;
    }

    .sectionBlue .linkButton {
        font-size: 30px;
        font-weight: 700;
        position: static;
        margin-top: 50px;
        text-align: end;
    }

    header .logo {
        width: 150px;
    }

    .textRightSection {
        padding: 60px 25px;
        background-color: #5A92DB;
        min-height: unset;
        font-size: 1.2rem;
        font-weight: 700;
        position: relative;
    }




    .textRightSection .main-head {
        font-size: 3rem;
        font-weight: 700;
        line-height: unset;
    }

    .textRightSection .second-head {
        color: #A6D178;
        font-size: 30px;
        font-weight: 400;
    }
    .textRightSection .content {
        margin-top: 2.5rem;
    }


    .awardPartners {
        padding-top: 70px;
        padding-bottom: 90px;
    }

    .awardPartners .awards img{
        width: 80px;
        height:80px;
    }

    .history {
        min-height: unset;
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .history .mainImg {
        width: 260px;
        height: 260px;
    }  
    
    .heroSection .swiper-pagination {
        
        bottom: 20px !important;
        right: 50% !important;
        transform: translateX(50%);
    }

    .ourServices .swiper-pagination{
            right: unset !important;
            width: unset !important;
            bottom: 20px !important;
            left: 50% !important;
            transform: translate(-50%);
    }

    .heroSection .swiper-slide{
        height: 300px;
    }

    .heroSection .swiper-slide img{
        height: 100%;
        object-fit: cover;
    }

    .serviceLeft{
        padding-top: 45px;
        padding-bottom: 45px;
    }

    .ourServices .customSlideDots {
        margin-top: 60px;
        display: flex;
        gap: 15px;
    }

    .ourServices .customSlideDots div {
        width: 19px;
        height: 19px;
        border: 2px solid #fff;
    }

    .ourServices .serviceImages img{
        height: 350px;
    }


}